[submodule "js-api"]
	path = js-api
	url = https://github.com/Web3SettersClub/web3wallet.js.git
[submodule "js-extension"]
	path = js-extension
	url = https://github.com/Web3SettersClub/web3wallet-signer.js.git
